In [3]:
import pandas as pd 
import numpy as np
from sklearn.impute import SimpleImputer

### Read data

In [4]:
df = pd.read_csv('data.csv')

/var/folders/l9/lgcrjc856bb1g071byrjw6rr0000gn/T/ipykernel_64521/1507164070.py:1: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv')

In [5]:
# df.info()

### Handle missing value

In [6]:
# Drop 

columns_to_remove = ['id', 'member_id', 'title','desc','emp_title','mths_since_last_delinq','mths_since_last_record', 'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m' ,'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m']
df.drop(columns_to_remove, axis=1, inplace=True)

In [16]:
# Display all attributes with missing values

null_columns = df.columns[df.isnull().any()] 
null_columns_result = df.isnull().any()[null_columns] 
null_columns_result

last_pymnt_d          True
next_pymnt_d          True
last_credit_pull_d    True
dtype: bool

#### For emp_length, handle missing values by replacing with the most frequent values

In [8]:
column_mode = df['emp_length'].mode().values[0]

print(column_mode)

# Replace mssing values with mode values 

df['emp_length'].fillna(column_mode, inplace=True)

10+ years

In [9]:
df['emp_length'].isna().any()

False

#### For revol_util, handle missing values by imputer

In [10]:
df['revol_util'].unique()

array([ 83.7,   9.4,  98.5, ..., 123.3, 121.4, 184.6])

In [11]:
imputer = SimpleImputer(strategy='mean')

revol_util = df['revol_util'].values.reshape(-1,1)

revol_util_imputed = imputer.fit_transform(revol_util)

df['revol_util'] = revol_util_imputed

#### For last payment date, replace with most frequent values

In [12]:
'''
last_payment_mode = df['last_pymnt_d'].mode().values[0]

last_payment_mode

# Replace mssing values with mode values 

df['last_pymnt_d'].fillna(last_payment_mode, inplace=True)

'''

"\nlast_payment_mode = df['last_pymnt_d'].mode().values[0]\n\nlast_payment_mode\n\n# Replace mssing values with mode values \n\ndf['last_pymnt_d'].fillna(last_payment_mode, inplace=True)\n\n"

#### For next payment date, replace with most frequent values

In [13]:
'''

next_payment_mode = df['next_pymnt_d'].mode().values[0]

next_payment_mode

from datetime import datetime, timedelta

# Convert the string to a datetime object
date_str = df['last_pymnt_d']
date_obj = datetime.strptime(date_str, "%d-%m-%Y")

# Increase the date by one month
next_month = date_obj + timedelta(days=31)

# Convert the updated date back to a string
next_month_str = next_month.strftime("%d-%m-%Y")



print("Original Date:", date_str)
print("Updated Date:", next_month_str)

# Assuming 'df' is your DataFrame
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], format='%d-%m-%Y', errors='coerce')

# Iterate over the DataFrame rows
for index, row in df.iterrows():
    last_payment_date = row['last_pymnt_d']
    
    # Check if last_payment_date is a valid date and not null
    if pd.notnull(last_payment_date):
        incremented_date = last_payment_date + pd.DateOffset(months=1)
        df.at[index, 'next_pymnt_d'] = incremented_date


df['next_pymnt_d'].isna().any()



'''

'\n\nnext_payment_mode = df[\'next_pymnt_d\'].mode().values[0]\n\nnext_payment_mode\n\nfrom datetime import datetime, timedelta\n\n# Convert the string to a datetime object\ndate_str = df[\'last_pymnt_d\']\ndate_obj = datetime.strptime(date_str, "%d-%m-%Y")\n\n# Increase the date by one month\nnext_month = date_obj + timedelta(days=31)\n\n# Convert the updated date back to a string\nnext_month_str = next_month.strftime("%d-%m-%Y")\n\n\n\nprint("Original Date:", date_str)\nprint("Updated Date:", next_month_str)\n\n# Assuming \'df\' is your DataFrame\ndf[\'last_pymnt_d\'] = pd.to_datetime(df[\'last_pymnt_d\'], format=\'%d-%m-%Y\', errors=\'coerce\')\n\n# Iterate over the DataFrame rows\nfor index, row in df.iterrows():\n    last_payment_date = row[\'last_pymnt_d\']\n    \n    # Check if last_payment_date is a valid date and not null\n    if pd.notnull(last_payment_date):\n        incremented_date = last_payment_date + pd.DateOffset(months=1)\n        df.at[index, \'next_pymnt_d\'] = incremented_date\n\n\ndf[\'next_pymnt_d\'].isna().any()\n\n\n\n'

#### For collections exclude med, replace with most frequent values

In [14]:
collection_excludeMed_mode = df['collections_12_mths_ex_med'].mode().values[0]


df['collections_12_mths_ex_med'].fillna(collection_excludeMed_mode, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 855969 entries, 0 to 855968
Data columns (total 45 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   loan_amnt                   855969 non-null  int64
 1   funded_amnt                 855969 non-null  int64
 2   funded_amnt_inv             855969 non-null  float64
 3   term                        855969 non-null  object
 4   int_rate                    855969 non-null  float64
 5   installment                 855969 non-null  float64
 6   grade                       855969 non-null  object
 7   sub_grade                   855969 non-null  object
 8   emp_length                  855969 non-null  object
 9   home_ownership              855969 non-null  object
 10  annual_inc                  855969 non-null  float64
 11  verification_status         855969 non-null  object
 12  issue_d                     855969 non-null  object
 13  pymnt_plan                  855969 non-null  object
 14  purpose                     855969 non-null  object
 15  zip_code                    855969 non-null  object
 16  addr_state                  855969 non-null  object
 17  dti                         855969 non-null  float64
 18  delinq_2yrs                 855969 non-null  int64
 19  earliest_cr_line            855969 non-null  object
 20  inq_last_6mths              855969 non-null  int64
 21  open_acc                    855969 non-null  int64
 22  pub_rec                     855969 non-null  int64
 23  revol_bal                   855969 non-null  int64
 24  revol_util                  855969 non-null  float64
 25  total_acc                   855969 non-null  int64
 26  initial_list_status         855969 non-null  object
 27  out_prncp                   855969 non-null  float64
 28  out_prncp_inv               855969 non-null  float64
 29  total_pymnt                 855969 non-null  float64
 30  total_pymnt_inv             855969 non-null  float64
 31  total_rec_prncp             855969 non-null  float64
 32  total_rec_int               855969 non-null  float64
 33  total_rec_late_fee          855969 non-null  float64
 34  recoveries                  855969 non-null  float64
 35  collection_recovery_fee     855969 non-null  float64
 36  last_pymnt_d                847107 non-null  object
 37  last_pymnt_amnt             855969 non-null  float64
 38  next_pymnt_d                602998 non-null  object
 39  last_credit_pull_d          855919 non-null  object
 40  collections_12_mths_ex_med  855969 non-null  float64
 41  policy_code                 855969 non-null  int64
 42  application_type            855969 non-null  object
 43  acc_now_delinq              855969 non-null  int64
 44  default_ind                 855969 non-null  int64
dtypes: float64(17), int64(11), object(17)
memory usage: 293.9+ MB