# GROUP 4 - GROUP ASSIGNMENT 1 

### Members

Darrel Koh - 7897686 <br>
Nguyen Gia Khanh - 7311217 <br>
Ngo Vu Anh - 7673541 <br>
Chin Yee Wan - 7436579 <br>