Import lib

In [1]:
import pandas as pd 
import numpy as np

Read data

In [2]:
df = pd.read_csv('../data.csv')

/var/folders/l9/lgcrjc856bb1g071byrjw6rr0000gn/T/ipykernel_70658/3454644713.py:1: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data.csv')

In [3]:
columns_to_remove = [
    'id', 
    'member_id', 
    'title',
    'desc',
    'emp_title',
    'mths_since_last_delinq',
    'mths_since_last_record', 
    'mths_since_last_major_derog', 
    'tot_coll_amt', 
    'tot_cur_bal', 
    'open_acc_6m', 
    'open_il_6m', 
    'open_il_12m', 
    'open_il_24m', 
    'mths_since_rcnt_il', 
    'total_bal_il', 
    'il_util', 
    'open_rv_12m' ,
    'open_rv_24m', 
    'max_bal_bc', 
    'all_util', 
    'total_rev_hi_lim', 
    'inq_fi', 
    'total_cu_tl', 
    'inq_last_12m',
    'policy_code'
    ]

In [4]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'default_ind'],
      dtype='object')

### Some criteria

### Important feature
- loan_amnt
- int_rate
- grade
- annual_inc
- purpose
- installments
- term

### Loan amount

In [5]:
df['loan_amnt'].unique()

array([ 5000,  2500,  2400, ..., 32825, 32575, 34175])

### Interest rate

In [6]:
df['int_rate'].unique()

array([10.65, 15.27, 15.96, 13.49, 12.69,  7.9 , 18.64, 21.28, 14.65,
        9.91, 16.29,  6.03, 11.71, 12.42, 14.27, 16.77,  7.51,  8.9 ,
       18.25,  6.62, 19.91, 17.27, 17.58, 21.67, 19.42, 22.06, 20.89,
       20.3 , 23.91, 19.03, 23.52, 23.13, 22.74, 22.35, 24.11,  6.  ,
       22.11,  7.49, 11.99,  5.99, 10.99,  9.99, 18.79, 11.49,  8.49,
       15.99, 16.49,  6.99, 12.99, 15.23, 14.79,  5.42, 10.59, 17.49,
       15.62, 21.36, 19.29, 13.99, 18.39, 16.89, 17.99, 20.62, 20.99,
       22.85, 19.69, 20.25, 23.22, 21.74, 22.48, 23.59, 12.62, 18.07,
       11.63,  7.91,  7.42, 11.14, 20.2 , 12.12, 19.39, 16.11, 17.54,
       22.64, 13.84, 16.59, 17.19, 12.87, 20.69,  9.67, 21.82, 19.79,
       18.49, 22.94, 24.59, 24.4 , 21.48, 14.82, 14.17,  7.29, 17.88,
       20.11, 16.02, 17.51, 13.43, 14.91, 13.06, 15.28, 15.65, 17.14,
       11.11, 10.37, 16.4 ,  7.66, 10.  , 18.62, 10.74,  5.79,  6.92,
        9.63, 14.54, 12.68, 19.36, 13.8 , 18.99, 21.59, 20.85, 21.22,
       19.74, 20.48,  6.91, 12.23, 12.61, 10.36,  6.17,  6.54,  9.25,
       16.69, 15.95,  8.88, 13.35,  9.62, 16.32, 12.98, 14.83, 13.72,
       14.09, 14.46, 20.03, 17.8 , 15.2 , 15.57, 18.54, 19.66, 17.06,
       17.43, 18.17, 20.4 , 20.77, 18.91, 21.14, 17.44, 13.23,  7.88,
       11.12, 13.61, 10.38, 17.56, 17.93, 15.58, 13.98, 14.84, 15.21,
        6.76,  6.39, 11.86,  7.14, 14.35, 16.82, 10.75, 14.72, 16.45,
       18.67, 20.53, 19.41, 20.16, 21.27, 18.3 , 19.04, 20.9 , 21.64,
       12.73, 10.25, 13.11, 10.62, 13.48, 14.59, 16.07, 15.7 ,  9.88,
       11.36, 15.33, 13.85, 14.96, 14.22,  7.74, 13.22, 13.57,  8.59,
       17.04, 14.61,  8.94, 12.18, 11.83, 11.48, 16.35, 13.92, 15.31,
       14.26, 19.13, 12.53, 16.7 , 16.  , 17.39, 18.09,  7.4 , 18.43,
       17.74,  7.05, 20.52, 20.86, 19.47, 18.78, 21.21, 19.82, 20.17,
       13.16,  8.  , 13.47, 12.21, 16.63,  9.32, 12.84, 11.26, 15.68,
       15.37, 10.95, 11.89, 14.11, 13.79,  7.68, 11.58,  7.37, 16.95,
       15.05, 18.53, 14.74, 14.42, 18.21, 17.26, 18.84, 17.9 , 19.16,
       13.67,  9.38, 12.72, 13.36, 11.46, 10.51,  9.07, 13.04, 11.78,
       12.41, 10.83, 12.09, 17.46, 14.3 , 17.15, 15.25, 10.2 , 15.88,
       14.93, 16.2 , 18.72, 14.62,  8.32, 14.12, 10.96, 10.33, 10.01,
       12.86, 11.28, 11.59,  8.63, 12.54, 12.22, 11.91, 15.38, 16.96,
       13.17,  9.7 , 16.33, 14.75, 15.07, 16.01, 10.71, 10.64,  9.76,
       11.34, 10.39, 13.87, 11.03, 11.66, 13.24, 10.08,  9.45, 13.55,
       12.29, 11.97, 12.92, 15.45, 14.5 , 14.18, 15.13, 16.08, 15.76,
       17.03, 17.34, 16.71,  9.83, 13.62, 10.46,  9.51,  9.2 , 13.3 ,
       10.78,  7.75,  8.38, 12.36, 12.67, 11.72, 13.93,  8.07,  7.43,
       12.04, 14.25, 14.88, 11.41, 11.09, 10.14, 16.15, 15.83,  7.12,
       18.36,  9.64,  9.96, 11.22,  9.01,  9.33, 11.54, 12.17, 12.8 ,
       14.38, 13.75, 14.7 , 12.49, 14.07, 10.91, 13.12, 10.28,  8.7 ,
       14.67, 15.01, 13.53, 12.85, 16.24,  7.62, 19.97, 14.98, 14.47,
       19.22, 20.5 , 15.61, 17.57, 22.9 , 22.4 , 23.4 , 16.99, 23.7 ,
       25.89, 25.8 , 24.08, 24.99, 25.57, 26.06, 25.99, 24.5 , 25.83,
       21.7 , 17.76, 15.1 , 18.55, 19.52, 19.2 , 17.1 , 21.  , 23.1 ,
        6.97,  8.6 , 11.55, 13.68, 15.22, 22.7 ,  9.71, 21.6 , 22.2 ,
       18.85, 14.33, 16.78, 13.05, 24.89, 23.5 , 21.15, 12.35, 20.8 ,
       20.31, 25.28, 19.05, 23.28, 10.16, 18.75, 17.77, 15.8 , 19.72,
       23.76, 20.49, 21.98, 23.83, 23.63, 22.47, 22.95, 24.7 , 21.49,
       24.83, 21.97, 15.81, 22.45, 22.78, 23.33, 19.99, 24.2 , 24.76,
       24.33, 23.26, 24.52, 14.28, 12.39, 13.66, 15.59, 11.44, 21.99,
       14.31, 10.49, 14.99,  9.49, 17.86,  8.19, 22.99,  8.67, 19.24,
        6.49, 23.99, 10.15, 18.24,  8.39, 11.67,  7.69,  9.17, 14.49,
       22.15, 23.43, 13.65, 14.64, 21.18, 18.92, 14.16,  5.32, 19.48,
       17.97, 14.85,  9.8 , 12.88, 27.99, 15.77, 19.89, 13.44, 16.55,
       26.99, 28.99, 12.59, 13.18,  7.26, 24.24, 25.09, 14.48,  6.89,
        6.24, 18.2 , 15.41,  7.89, 27.31, 26.77, 28.49, 27.88, 12.05,
        8.18, 11.53, 13.33, 19.19, 25.78,  5.93,  6.68])

### Grade

In [7]:
df['grade'].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

### Purpose

In [8]:
df['purpose'].unique()

array(['credit_card', 'car', 'small_business', 'other', 'wedding',
       'debt_consolidation', 'home_improvement', 'major_purchase',
       'medical', 'moving', 'vacation', 'house', 'renewable_energy',
       'educational'], dtype=object)

### Installment

In [9]:
df['installment'].unique()

array([162.87,  59.83,  84.33, ..., 685.27, 185.06, 237.86])

### Term
- only 2 type: 36 & 60 months
- plan: binning

In [10]:
df['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

### Annual income 
- annual_inc_joint is total inc of all party involve
- Plan: aggregate 'annual_inc' and 'annual_inc_joint'
- How: if application_type is 'Joint' then replace 'annual_inc' with 'annual_inc_joint'

In [11]:
annual = df[df['application_type'] != 'INDIVIDUAL']

In [12]:
annual['annual_inc']

452290     29524.32
452477     86000.00
453477     89000.00
453733     60000.00
453789     78000.00
            ...
548057     65000.00
548365      9000.00
548505    120000.00
549873     21559.00
550079     48000.00
Name: annual_inc, Length: 442, dtype: float64

In [13]:
annual['annual_inc_joint']

452290     94348.32
452477    182000.00
453477     89000.00
453733     95000.00
453789    111000.00
            ...
548057     70000.00
548365     39000.00
548505    170000.00
549873     88596.00
550079     68000.00
Name: annual_inc_joint, Length: 442, dtype: float64

### Delinq_2yrs

In [14]:
df['delinq_2yrs'].unique()

array([ 0,  2,  3,  1,  4,  6,  5,  8,  7,  9, 11, 15, 10, 12, 17, 18, 13,
       29, 24, 14, 22, 19, 16, 21, 30, 26, 20, 27, 39])

### DTI
- Also have individual and joint value => aggregate

In [15]:
df['dti']

0         27.65
1          1.00
2          8.72
3         20.00
4         17.94
          ...
855964    28.69
855965     3.90
855966    30.90
855967    27.19
855968    10.83
Name: dti, Length: 855969, dtype: float64

In [16]:
dti = df[df['dti_joint'].isnull() == False]
dti['dti_joint']

452290    17.07
452477     6.44
453477    25.91
453733    23.99
453789    17.51
          ...
548057    19.92
548365    18.65
548505    16.69
549873    15.40
550079    20.42
Name: dti_joint, Length: 442, dtype: float64

### Earliest credit line

In [17]:
df['earliest_cr_line'].unique()

array(['01-01-1985', '01-04-1999', '01-11-2001', '01-02-1996',
       '01-01-1996', '01-11-2004', '01-07-2005', '01-01-2007',
       '01-04-2004', '01-09-2004', '01-01-1998', '01-10-1989',
       '01-07-2003', '01-05-1991', '01-09-2007', '01-10-1998',
       '01-08-1993', '01-10-2003', '01-01-2001', '01-11-1997',
       '01-02-1983', '01-07-1985', '01-04-2003', '01-06-2001',
       '01-02-2002', '01-08-1984', '01-11-2006', '01-12-1987',
       '01-11-1981', '01-02-1997', '01-04-2005', '01-10-2007',
       '01-12-2000', '01-04-2007', '01-12-2001', '01-01-2003',
       '01-03-1994', '01-09-1998', '01-06-2004', '01-11-1995',
       '01-07-1999', '01-06-1995', '01-09-1992', '01-01-2002',
       '01-04-1992', '01-10-2006', '01-05-2000', '01-12-1998',
       '01-12-2004', '01-10-2000', '01-05-2002', '01-05-2006',
       '01-07-2002', '01-07-2006', '01-05-1997', '01-10-2005',
       '01-04-1995', '01-10-2002', '01-01-2000', '01-04-2000',
       '01-12-1994', '01-09-2005', '01-12-1984', '01-12-1999',
       '01-11-2003', '01-06-1989', '01-06-2003', '01-10-1996',
       '01-05-2003', '01-06-2002', '01-06-2007', '01-12-1996',
       '01-02-1984', '01-09-2002', '01-01-1986', '01-05-1998',
       '01-01-1997', '01-06-2005', '01-02-1990', '01-03-2004',
       '01-07-1995', '01-08-1994', '01-06-1992', '01-03-1997',
       '01-04-2006', '01-04-1990', '01-08-1999', '01-09-2000',
       '01-02-2001', '01-12-1988', '01-02-1999', '01-12-1991',
       '01-08-2000', '01-10-2004', '01-08-2004', '01-02-2005',
       '01-11-2005', '01-11-2000', '01-05-2007', '01-01-1991',
       '01-06-2000', '01-08-2006', '01-12-2002', '01-06-1993',
       '01-06-2006', '01-02-2004', '01-12-1990', '01-03-2000',
       '01-02-1995', '01-07-2001', '01-04-2002', '01-09-2006',
       '01-05-1999', '01-08-1998', '01-12-2005', '01-05-2004',
       '01-10-2001', '01-06-1983', '01-03-1986', '01-04-1980',
       '01-07-2004', '01-07-2008', '01-05-1996', '01-01-2004',
       '01-11-2002', '01-08-2002', '01-08-2001', '01-03-1991',
       '01-09-1989', '01-09-1994', '01-09-2003', '01-09-1999',
       '01-08-2005', '01-12-1986', '01-11-1998', '01-02-2006',
       '01-05-1994', '01-11-2007', '01-02-1993', '01-11-1991',
       '01-05-2005', '01-12-1973', '01-05-2001', '01-03-1990',
       '01-03-1996', '01-10-1979', '01-06-1981', '01-03-2001',
       '01-04-2001', '01-06-1999', '01-11-1993', '01-01-2006',
       '01-12-1997', '01-11-1994', '01-07-1997', '01-10-1991',
       '01-06-1994', '01-03-2006', '01-09-1996', '01-04-1991',
       '01-07-1993', '01-01-1995', '01-09-1987', '01-03-2003',
       '01-10-1999', '01-07-1996', '01-12-2003', '01-08-1988',
       '01-01-1992', '01-03-1998', '01-02-2007', '01-08-1982',
       '01-03-1995', '01-12-1992', '01-07-1998', '01-07-1989',
       '01-05-1990', '01-07-1994', '01-09-2001', '01-03-1984',
       '01-08-2003', '01-11-1999', '01-03-2007', '01-03-2008',
       '01-04-1994', '01-01-2005', '01-07-1986', '01-08-1990',
       '01-05-1992', '01-07-2000', '01-03-1988', '01-05-1983',
       '01-04-1993', '01-07-1978', '01-02-2000', '01-12-1981',
       '01-03-1992', '01-01-1981', '01-09-1990', '01-06-1998',
       '01-05-1993', '01-11-1996', '01-03-2002', '01-01-1988',
       '01-08-1997', '01-08-1987', '01-08-2008', '01-10-1994',
       '01-10-1986', '01-02-1994', '01-06-1996', '01-02-1998',
       '01-11-2008', '01-04-1998', '01-07-1979', '01-01-1993',
       '01-05-1987', '01-07-1971', '01-08-2007', '01-06-1997',
       '01-03-1980', '01-12-2006', '01-07-2007', '01-10-1995',
       '01-07-1991', '01-07-1992', '01-12-1972', '01-12-1993',
       '01-01-1999', '01-02-2003', '01-04-1997', '01-12-1995',
       '01-04-1996', '01-07-1990', '01-03-1970', '01-11-1984',
       '01-04-1984', '01-07-1984', '01-08-1995', '01-03-1999',
       '01-09-1988', '01-03-1989', '01-03-1987', '01-10-1997',
       '01-12-1980', '01-01-1994', '01-09-1995', '01-03-2005',
       '01-01-1989', '01-02-1992', '01-01-1990', '01-11-1990',
       '01-03-1969', '01-06-1975', '01-03-1985', '01-12-2007',
       '01-10-1993', '01-12-1989', '01-09-1980', '01-06-1988',
       '01-05-1978', '01-04-1973', '01-08-1989', '01-10-1990',
       '01-09-1991', '01-02-1982', '01-02-1987', '01-11-1985',
       '01-01-1984', '01-07-1988', '01-05-2008', '01-10-1985',
       '01-03-1983', '01-08-1991', '01-09-1986', '01-06-1990',
       '01-02-1986', '01-09-1997', '01-06-1984', '01-09-1981',
       '01-04-1986', '01-08-1979', '01-08-1980', '01-11-1992',
       '01-09-1993', '01-06-1987', '01-09-1982', '01-08-1992',
       '01-08-1985', '01-07-1983', '01-06-1991', '01-12-1983',
       '01-01-1987', '01-11-1978', '01-10-1984', '01-08-1996',
       '01-11-1989', '01-09-1976', '01-11-1986', '01-10-1987',
       '01-09-2008', '01-05-1977', '01-05-1986', '01-03-1981',
       '01-01-1983', '01-11-1976', '01-09-1979', '01-10-1983',
       '01-09-1962', '01-06-1985', '01-05-1982', '01-02-1988',
       '01-10-1992', '01-08-1983', '01-06-1973', '01-04-1985',
       '01-10-1988', '01-10-1981', '01-09-1968', '01-07-1974',
       '01-11-1987', '01-05-1995', '01-02-1991', '01-11-1988',
       '01-03-1993', '01-06-2008', '01-07-1980', '01-12-1982',
       '01-03-1975', '01-02-1980', '01-04-1988', '01-12-1979',
       '01-09-1985', '01-09-1971', '01-03-1978', '01-02-2008',
       '01-08-1978', '01-11-1970', '01-06-1979', '01-06-1980',
       '01-04-1989', '01-09-1983', '01-02-1989', '01-11-1983',
       '01-06-1986', '01-10-1982', '01-08-1986', '01-10-1980',
       '01-05-1988', '01-12-1985', '01-01-1982', '01-09-1977',
       '01-12-1976', '01-04-1982', '01-05-1984', '01-04-2008',
       '01-02-1979', '01-01-2008', '01-07-1987', '01-01-1978',
       '01-05-1989', '01-10-1977', '01-12-1975', '01-02-1985',
       '01-10-2008', '01-11-1982', '01-05-1975', '01-05-1985',
       '01-02-1971', '01-06-1977', '01-04-1981', '01-05-1979',
       '01-01-1972', '01-09-1967', '01-04-1978', '01-02-1965',
       '01-04-1983', '01-11-1975', '01-06-1967', '01-03-1974',
       '01-07-1972', '01-08-1967', '01-04-1971', '01-09-1984',
       '01-05-1981', '01-12-1970', '01-10-1973', '01-01-1971',
       '01-12-1963', '01-04-1974', '01-01-1980', '01-08-1969',
       '01-04-1975', '01-07-1977', '01-03-1977', '01-11-1969',
       '01-01-1976', '01-03-1982', '01-04-1987', '01-12-1969',
       '01-05-1974', '01-08-1974', '01-06-1972', '01-03-1963',
       '01-11-1979', '01-08-1975', '01-09-1974', '01-08-1981',
       '01-05-1973', '01-09-1973', '01-03-1973', '01-12-1977',
       '01-10-1976', '01-01-1974', '01-01-1970', '01-08-1968',
       '01-02-1976', '01-01-1975', '01-10-1972', '01-12-1974',
       '01-02-1973', '01-11-1965', '01-03-1972', '01-06-1982',
       '01-06-1974', '01-05-1965', '01-06-1971', '01-10-1970',
       '01-04-1976', '01-10-1971', '01-04-1977', '01-09-1978',
       '01-10-1978', '01-10-1954', '01-02-1981', '01-01-1977',
       '01-08-1977', '01-12-1978', '01-08-1976', '01-06-1968',
       '01-06-1978', '01-06-1969', '01-05-1980', '01-01-1979',
       '01-10-1965', '01-11-1974', '01-04-1966', '01-06-1976',
       '01-02-1972', '01-05-1976', '01-03-1968', '01-03-1976',
       '01-07-1970', '01-03-1979', '01-07-1976', '01-07-1982',
       '01-09-1965', '01-04-1967', '01-10-1963', '01-02-1970',
       '01-07-1973', '01-02-1978', '01-11-1971', '01-08-1972',
       '01-07-1975', '01-09-1970', '01-07-1981', '01-10-1964',
       '01-09-1972', '01-05-1970', '01-05-1963', '01-02-1969',
       '01-11-1980', '01-07-1967', '01-04-1970', '01-11-1977',
       '01-11-1966', '01-05-1971', '01-04-1979', '01-05-1972',
       '01-02-1968', '01-07-1964', '01-11-1967', '01-04-1964',
       '01-02-1975', '01-06-1959', '01-09-1956', '01-06-1966',
       '01-01-1946', '01-03-1966', '01-01-1963', '01-12-1950',
       '01-07-1969', '01-01-1968', '01-11-1973', '01-06-1970',
       '01-02-1977', '01-02-1974', '01-01-1973', '01-02-1966',
       '01-09-1964', '01-12-1961', '01-08-1973', '01-08-1970',
       '01-09-1969', '01-09-1975', '01-12-1968', '01-11-1954',
       '01-10-1969', '01-12-1965', '01-04-1972', '01-11-1972',
       '01-09-1963', '01-04-1969', '01-11-1962', '01-10-1967',
       '01-05-1967', '01-11-1961', '01-02-1967', '01-11-1968',
       '01-10-1975', '01-03-1971', '01-08-1971', '01-12-1966',
       '01-10-1968', '01-10-1974', '01-10-2010', '01-12-2009',
       '01-11-2010', '01-01-2010', '01-12-2008', '01-09-2009',
       '01-07-2010', '01-01-2009', '01-05-2009', '01-05-2010',
       '01-09-2010', '01-04-2009', '01-11-2009', '01-04-2010',
       '01-03-2009', '01-02-2009', '01-08-2009', '01-06-2009',
       '01-06-2010', '01-04-1968', '01-07-2009', '01-10-2009',
       '01-02-2010', '01-03-2010', '01-08-2010', '01-01-1961',
       '01-05-1969', '01-10-1962', '01-06-1964', '01-04-1962',
       '01-01-1960', '01-09-1966', '01-03-1965', '01-05-1968',
       '01-07-1966', '01-12-1956', '01-12-1971', '01-04-1965',
       '01-01-1964', '01-07-1965', '01-01-1965', '01-01-1962',
       '01-08-1964', '01-01-1969', '01-10-1966', '01-06-1962',
       '01-12-1967', '01-10-1960', '01-07-1962', '01-12-1960',
       '01-07-1960', '01-06-1965', '01-05-1966', '01-10-1957',
       '01-08-1965', '01-05-1960', '01-01-1967', '01-11-1953',
       '01-10-1959', '01-06-1963', '01-03-1967', '01-07-1963',
       '01-11-1960', '01-03-1962', '01-03-1964', '01-07-1968',
       '01-02-1963', '01-01-1966', '01-12-1964', '01-05-1964',
       '01-11-1959', '01-10-1961', '01-08-1960', '01-03-1960',
       '01-04-1955', '01-09-1959', '01-08-1966', '01-07-1955',
       '01-11-1963', '01-08-1961', '01-11-1964', '01-05-1953',
       '01-11-1950', '01-11-1955', '01-03-1961', '01-02-1957',
       '01-08-1963', '01-02-1960', '01-09-1960', '01-02-1964',
       '01-12-1951', '01-11-1958', '01-08-1962', '01-10-1958',
       '01-05-1962', '01-03-2011', '01-06-2011', '01-12-2010',
       '01-10-2011', '01-09-2011', '01-07-2011', '01-04-2011',
       '01-05-2011', '01-01-2011', '01-02-2011', '01-08-2011',
       '01-04-1963', '01-11-2011', '01-12-1958', '01-01-1958',
       '01-07-1959', '01-01-1955', '01-05-1959', '01-08-1946',
       '01-04-1961', '01-06-1958', '01-07-1958', '01-06-1960',
       '01-01-1951', '01-12-1962', '01-03-1959', '01-08-1958',
       '01-01-1959', '01-02-1961', '01-09-1957', '01-06-1949',
       '01-06-1961', '01-01-1956', '01-01-1954', '01-01-1957',
       '01-01-1944', '01-10-1950', '01-01-1948', '01-07-1961',
       '01-05-1958', '01-01-1953', '01-05-1950', '01-11-1956',
       '01-03-2012', '01-02-2012', '01-05-2012', '01-08-2012',
       '01-04-2012', '01-09-2012', '01-10-2012', '01-06-2012',
       '01-01-2012', '01-07-2012', '01-12-2011', '01-11-2012',
       '01-05-1961', '01-02-1959', '01-01-1950', '01-09-1961',
       '01-06-1955', '01-09-1953', '01-08-1959', '01-03-1958',
       '01-12-1959', '01-04-1960', '01-11-1957', '01-05-1955',
       '01-08-1951', '01-06-1957', '01-05-1957', '01-01-1952',
       '01-03-1955', '01-07-1951', '01-08-1950', '01-08-1955',
       '01-04-1958'], dtype=object)

### Policy code
- Only 1 unique value -> not meaningful
- Consider drop

In [18]:
df['policy_code'].unique()

array([1])

### Issue date

In [19]:
df['issue_d'].unique()

array(['01-12-2011', '01-11-2011', '01-10-2011', '01-09-2011',
       '01-08-2011', '01-07-2011', '01-06-2011', '01-05-2011',
       '01-04-2011', '01-03-2011', '01-02-2011', '01-01-2011',
       '01-12-2010', '01-11-2010', '01-10-2010', '01-09-2010',
       '01-08-2010', '01-07-2010', '01-06-2010', '01-05-2010',
       '01-04-2010', '01-03-2010', '01-02-2010', '01-01-2010',
       '01-12-2009', '01-11-2009', '01-10-2009', '01-09-2009',
       '01-08-2009', '01-07-2009', '01-06-2009', '01-05-2009',
       '01-04-2009', '01-03-2009', '01-02-2009', '01-01-2009',
       '01-12-2008', '01-11-2008', '01-10-2008', '01-09-2008',
       '01-08-2008', '01-07-2008', '01-06-2008', '01-05-2008',
       '01-04-2008', '01-03-2008', '01-02-2008', '01-01-2008',
       '01-12-2007', '01-11-2007', '01-10-2007', '01-09-2007',
       '01-08-2007', '01-07-2007', '01-06-2007', '01-12-2013',
       '01-11-2013', '01-10-2013', '01-09-2013', '01-08-2013',
       '01-07-2013', '01-06-2013', '01-05-2013', '01-04-2013',
       '01-03-2013', '01-02-2013', '01-01-2013', '01-12-2012',
       '01-11-2012', '01-10-2012', '01-09-2012', '01-08-2012',
       '01-07-2012', '01-06-2012', '01-05-2012', '01-04-2012',
       '01-03-2012', '01-02-2012', '01-01-2012', '01-12-2014',
       '01-11-2014', '01-10-2014', '01-09-2014', '01-08-2014',
       '01-07-2014', '01-06-2014', '01-05-2014', '01-04-2014',
       '01-03-2014', '01-02-2014', '01-01-2014', '01-12-2015',
       '01-11-2015', '01-10-2015', '01-09-2015', '01-08-2015',
       '01-07-2015', '01-06-2015', '01-05-2015', '01-04-2015',
       '01-03-2015', '01-02-2015', '01-01-2015'], dtype=object)

### Verification status
- 2 types: individual & joint -> aggregate

In [20]:
veri = df[df['verification_status_joint'].isnull() == False]
veri['verification_status']

452290           Verified
452477    Source Verified
453477           Verified
453733       Not Verified
453789    Source Verified
               ...
548057    Source Verified
548365    Source Verified
548505    Source Verified
549873           Verified
550079           Verified
Name: verification_status, Length: 442, dtype: object

In [21]:
veri['verification_status_joint']

452290       Not Verified
452477       Not Verified
453477       Not Verified
453733       Not Verified
453789       Not Verified
               ...
548057       Not Verified
548365    Source Verified
548505       Not Verified
549873           Verified
550079       Not Verified
Name: verification_status_joint, Length: 442, dtype: object

In [22]:
veri['application_type']

452290    JOINT
452477    JOINT
453477    JOINT
453733    JOINT
453789    JOINT
          ...
548057    JOINT
548365    JOINT
548505    JOINT
549873    JOINT
550079    JOINT
Name: application_type, Length: 442, dtype: object

### Payment plan
- Binning 4sure

In [23]:
df['pymnt_plan'].unique()

array(['n', 'y'], dtype=object)